.homepage-b {
  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;
}
.left-benner-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../images/benner-2-img.jpg");
  width: 100%;
  height: 670px;
  filter: brightness(0.5);
  text-align: center;
}
.left-benner-menu .pink-button {
  width: 12%;
  margin: 0 auto;
}
.left-sc {
  display: flex;
  flex-direction: column;
  width: 55%;
  min-width: 55%;
  padding: 1%;
}
.left-sc img {
  width: 100%;
}
.right-sc {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 20%;
  padding: 1%;
}
.right-sc img {
  width: 100%;
}
.pink-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  padding: 20px;
  background: #ff565c;
  min-width: 100%;
  margin-top: 8%;
}

.benner-text-h1 {
  font-size: 40px;
  font-family: "PT Sans", sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 50px;
}
.benner-text-p {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: white;
  font-size: 22px;
  width: 64%;
  margin: 0 auto;
}
.pink-box p {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 24px;
  padding: 8% 0;
  line-height: 40px;
}

.pink-box .pink-button {
  width: 70%;
  padding: 20px 0;
  margin-bottom: 7%;
  border: 1px solid white;
  border-bottom: 2px solid white;
}
.right-sc .right-img-bottom {
  margin-top: 8%;
}
.right-sc img {
  width: 100%;
}
.left-sc-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.stories-list {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 30%;
  min-width: 30%;
  border: 1px solid #f2f3f6;
  margin-top: 4%;
}
.stories-list h1 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 9%;
  padding-bottom: 2%;
}

.stories-list ul li {
  display: inline-flex;
  padding: 5% 0;
  border-bottom: 1px solid #f2f3f6;
  padding: 10% 8%;
  line-height: 28px;
}
.stories-list .second-li {
  padding-bottom: 1%;
}
.stories-list ul li span {
  color: #dadadb;
  padding-right: 5%;
}
.small-img-links {
  width: 67%;
}
.entertainment-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url("../images/laptop-on-seat.jpg");
  width: 100%;
  min-width: 100%;
  height: 48%;
  margin-top: 6%;
  position: relative;
  filter: brightness(0.5);
}
.entertainment-img .pink-button {
  position: absolute;
  top: 12%;
}
.img-text {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: white;
  width: 55%;
  margin-left: 5%;
}
.small-box-text {
  width: 80%;
}
.finance-gaming-img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
}

.finance-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 270px;
  margin-right: 2%;
  background: url("../images/finance-2-img.jpg");
  filter: brightness(0.5);
}

.gaming-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2%;
  width: 100%;
  height: 270px;
  background: url("../images/gaming-img.jpg");
  filter: brightness(0.5);
}

.right-img-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url("../images/cam-2-img.jpg");
  width: 100%;
  height: 270px;
  margin-right: 4%;
  filter: brightness(0.5);
}
