.homepage-b {
  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;
}
.left-benner-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../images/benner-2-img.jpg");
  width: 100%;
  height: 585px;
  min-height: 585px;
  filter: brightness(0.5);
  text-align: center;
}
.benner-all-text {
  display: flex;
  flex-direction: column;
  width: 53%;
  height: 585px;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
}
.small-benner-box {
  position: relative;
  width: 100%;
}

.benner-all-small-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  height: 100%;
}
.benner-all-text .pink-button {
  width: 12%;
  margin: 0 auto;
}
.left-sc .benner-all-text h1,
p {
  text-align: center;
  margin: 2% 0;
}

.left-sc {
  display: flex;
  flex-direction: column;
  width: 55%;
  min-width: 55%;
  padding: 1%;
}
.img-footer-icons {
  display: flex;
  width: 50%;
  min-width: 50%;
  justify-content: center;
}
.img-footer-icons div {
  width: 10%;
  margin: 0 3%;
}
.right-sc {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 20%;
  padding: 1%;
}
.right-sc img {
  width: 100%;
}
.pink-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  padding: 20px;
  background: #ff565c;
  min-width: 100%;
  margin-top: 8%;
}

.benner-text-h1 {
  font-size: 40px;
  font-family: "PT Sans", sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 50px;
}
.benner-text-p {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: white;
  font-size: 22px;
  width: 64%;
  margin: 0 auto;
}
.pink-box .benner-text-h1 {
  font-weight: bold;
  line-height: 46px;
  font-size: 36px;
}
.pink-box p {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 24px;
  padding: 8% 0;
  line-height: 38px;
  text-align: left;
}

.pink-box .pink-button {
  width: 70%;
  padding: 15px 0;
  margin-bottom: 7%;
  border: 1px solid white;
  border-bottom: 2px solid white;
}
.right-sc .right-img-bottom {
  margin-top: 8%;
}
.right-sc .right-benner {
  background: url("../images/right-img-top.jpg");
  width: 100%;
  height: 235px;
  filter: brightness(0.5);
}
.left-sc-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.stories-list {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 30%;
  min-width: 30%;
  border: 1px solid #f2f3f6;
}
.stories-list h1 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 9%;
  padding-bottom: 2%;
}

.stories-list ul li {
  display: inline-flex;
  padding: 5% 0;
  border-bottom: 1px solid #f2f3f6;
  padding: 10% 8%;
  line-height: 28px;
}
.stories-list .second-li {
  padding-bottom: 1%;
}
.stories-list ul li span {
  color: #dadadb;
  padding-right: 5%;
}
.small-img-links {
  width: 67%;
}
.entertainment-img-box {
  width: 100%;
  min-width: 100%;
  height: 52%;
  position: relative;
}
.left-sc-2 .benner-all-small-text p{
  margin-left: 5%;
}
.left-sc-2 .benner-all-small-text{
  justify-content: space-evenly;
}
.left-sc-2 .benner-all-small-text .img-footer-icons{
  justify-content: flex-start;
}
.right-sc .benner-all-small-text p{
  margin-left: 5%;
}
.right-sc .benner-all-small-text{
  justify-content: space-evenly;
}
.right-sc .benner-all-small-text .img-footer-icons{
  justify-content: flex-start;
}
.entertainment-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url("../images/laptop-on-seat.jpg");
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: relative;
  filter: brightness(0.5);
}

.img-text {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: white;
  width: 75%;
  margin: 0;
  text-align: left;
}
.small-box-text {
  width: 80%;
}


.finance-gaming-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
}

.finance-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 98%;
  height: 270px;
  margin-right: 2%;
  position: relative;
  background: url("../images/finance-2-img.jpg");
  filter: brightness(0.5);
}

.gaming-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2%;
  width: 98%;
  height: 270px;
  background: url("../images/gaming-img.jpg");
  filter: brightness(0.5);
}

.right-img-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url("../images/cam-2-img.jpg");
  width: 100%;
  height: 270px;
  margin-right: 4%;
  filter: brightness(0.5);
}

@media only screen and (max-width: 1366px) {
  .left-sc {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 70%;
    padding: 1%;
  }

  .right-sc {
    width: 25%;
    max-width: 25%;
  }

  .left-benner-menu {
    height: 35%;
  }

  .stories-list {
    width: 33%;
    min-width: 33%;
    margin-right: 2%;
  }
  .stories-list ul li {
    padding: 7% 8%;
  }

  .small-img-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .entertainment-img-box {
    height: 45%;
  }
  .entertainment-img {
    height: 100%;
  }
  .benner-all-text .img-footer-icons{
    width: 50%;
    min-width: 50%;
  }
  .small-benner-box .img-footer-icons{
    width: 100%;
    min-width: 100%;
  }
  .benner-all-small-text .pink-button {
    top: 20%;
  }
  .benner-all-text {
    width: 69%;
  }

  .img-footer-icons {
    width: 80%;
    min-width: 80%;
  }

  .pink-box .benner-text-h1 {
    font-size: 28px;
    line-height: 43px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }
  .pink-box p {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 20px;
    padding: 8% 0;
    line-height: 40px;
    text-align: left;
  }
  .pink-box .pink-button {
    padding: 20px 0;
    margin-bottom: 10%;
  }
}
